body{
	
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
	background-color: black;
	color: aliceblue;
}

#home{
	
	
	color:#fff;
	padding-bottom:10px;
	padding-top: 120px;
	background-image: url(home.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
	margin-bottom: -20px !important; 
    
	
}
nav ul li a{
	display: inline;
	text-decoration: none;
	
}

#font{
	font-size: 22px;
}


#icon{
	font-size: 50px !important;
}

#bt{
	letter-spacing: 10px;
}

footer{
	background-color:#000;
	color:#fff;
	padding:10px;
}

#ficon{
	float:right;
	margin-left:20px;
	font-size:20px;
}

.fixed{
	top:0;
	position:fixed;
	width:100%;
	z-index:1;
}


.btn{
	border-radius:60px;
	background-color: black;
}

a:hover{
 font-size: 20px;
 font-family: monospace;

}

h2:hover{
	font-size: 40px;
    font-family:serif;
	
}